APP_ENV=dev
APP_DEBUG=true
APP_STORAGE_PATH=/home/swami/Projekty/EVILLAGE/wfirma_ksef/storage
APP_LOG_FILE=/home/swami/Projekty/EVILLAGE/wfirma_ksef/storage/logs/app.log
APP_IDEMPOTENCY_PATH=/home/swami/Projekty/EVILLAGE/wfirma_ksef/storage/idempotency

STRIPE_WEBHOOK_SECRET=whsec_replace_me

WFIRMA_API_BASE_URL=https://api2.wfirma.pl
WFIRMA_ACCESS_KEY=replace_me
WFIRMA_SECRET_KEY=replace_me
WFIRMA_APP_KEY=replace_me
WFIRMA_COMPANY_ID=
WFIRMA_INVOICE_TYPE=normal
WFIRMA_PAYMENT_METHOD=transfer
WFIRMA_DEFAULT_VAT_RATE=zw
WFIRMA_DEFAULT_UNIT=szt.
WFIRMA_DEFAULT_CURRENCY=PLN
